# Configuración de Base de Datos Render
SPRING_DATASOURCE_URL=jdbc:postgresql://dpg-d49a9fk9c44c73bilt60-a.oregon-postgres.render.com:5432/gestorapi_ij3r
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=GimjVfMKs8ca2LSryY24otdIMJWl38W2

# Configuración JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

# Configuración GraphQL
SPRING_GRAPHQL_GRAPHIQL_ENABLED=true

# Puerto del servidor
SERVER_PORT=8081

# Opciones de Java
JAVA_OPTS=-Xms256m -Xmx512m
